.skill-list {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 110px;
    padding-top: 5px;
    margin-right: 40px;
    margin-bottom: 15px;
    font-size: 14px;
}

.skill-title {
    position: absolute;
    left: -20px;
    right: -20px;
    top: 80px;
    text-align: center;
    word-break: break-all;
}

.progress-bar{
    /* 进度条的槽 */
    width:80%;
    /* 设置进度条的高度 */
    height: 5px;
    /*进度条外层div的背景色，进度未达到的地方的颜色 */
    background-color: #f9e1e3;
    border-radius: 3px;
}
.progress{
    /* 进度部分 */
    /* 利用继承父元素宽度的百分比控制进度 */
    width: 60%;
    height: 100%;
    /* 内层背景色即进度达到的颜色 */
    background-color: #e46a70;
    border-radius: 3px;
}
.content ol li {
    float: left;
    width: 47%;
    margin-top: 20px
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.content ol li:nth-child(even) {
    float: right;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
